<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project07 App</title>
    <link href="/libs/bootstrap.min.css" rel="stylesheet" />
    <link href="/libs/bootstrap-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css">
    <base href="/" />
</head>
<body ng-controller="MainController as ctrl">
    <div class="container">
        <h1>Project07 App</h1>
        <ui-view></ui-view>
    </div>

<!-- <div id = "aa">
<input type="number">
<input type="number">
<button></button>
<button></button>
<button></button>
<button></button>
</div> -->


    <!-- Library Files -->
    <script src="/libs/angular.min.js"></script>
    <script src="/libs/angular-resource.min.js"></script>
    <script src="/libs/angular-animate.min.js"></script>
    <script src="/libs/angular-touch.min.js"></script>
    <script src="/libs/ui-bootstrap-tpls.min.js"></script>
    <script src="/libs/angular-ui-router.min.js"></script>

    <label for="num1">First Number</label>
    <input type="number" ng-model="ctrl.first" id="num1">
    <label for="num2">Second Number</label>
    <input type="number" ng-model="ctrl.second" id="num2">
    <div>
    <button ng-click="ctrl.add()">Add</button>
    <button ng-click="ctrl.sub()">Subtract</button>
    <button ng-click="ctrl.prod()">Multiply</button>
    <button ng-click="ctrl.div()">Divide</button>
    </div>

    <div>
        The result is: {{ctrl.output}}
    </div>

    <!-- controllers -->
    <script src="/ngApp/controllers/mainController.js"></script>
    
    <!-- services -->
    <script src="/ngApp/services/productService.js"></script>

    <script src="/ngApp/app.js"></script>

</body>
</html>
